<div>
    <h1>Ejemplo Angular Zone</h1>
    <p>Proceso de incremento se puede ejecutar dentro/fuera de Angular Zone</p>
    <p>Implicando que los cambios del progreso se vean o no hasta que se indique</p>

    <div>
        <h3>Progreso Actual: {{progreso}}%</h3>

        <h4 *ngIf="progreso >= 100">
            Progreso terminado: {{texto}} de Angular Zone
        </h4>
    </div>
    <div (click)="aumentarDentroNgZone()">
        <button>
            Aumentar DENTRO de NGZone
        </button>
    </div>

    <div (click)="aumentarFueraNgZone()">
        <button>
            Aumentar FUERA de NGZone
        </button>
    </div>
</div>